/*/*Overall Body CSS*/
body {
	font-family: 'Paprika';
	font-weight: bold;
	background-color: #5B7437;
	margin: 0;
	color: #302603;
}



/*Main header*/
.main-header {
	font-family: 'Paprika';
	height: 300px;
	background: linear-gradient(0deg, #5B7437, transparent 30%),
							url(../images/arch-lake.jpg) no-repeat center;
	margin: 0;
	background-size: cover;
	padding-top: 100px;
}

.main-header h1,
.main-header h2 {
	text-shadow: 5px 5px 10px black;
	color: #fff;
	text-align: center;
	text-align: ;
	margin: auto;

}

.main-header h1 {
	font-size: 7em;

}

.main-header h2 {
	font-size: 3em;
}

/*Floats*/

.left-nav {
	float: left;
	width:15%;

}
.main-body {
	float: right;
	width:85%;
}

.main-footer {
	clear: both;
}

/*Nav Area*/
.left-nav {

	display: block;
	height:400px;

}

.left-nav li {
	list-style: none;
	padding-top: 30px;
}
.left-nav ul {
	padding-left:20px;
}
.left-nav a:link {
	color: #fff;
	text-decoration: none;
	background-color: #302603;
	padding: 10px;
	border-radius: 20px;
	width: 160px;
	display: inline-block;
	text-align: center;
	box-shadow: inset 0 0 2em #5B7437;
}

.left-nav a:visited {
	color: #fff;
	text-decoration: none;
}


/*Footer*/

.main-footer {
	color: #fff;
	background-image: linear-gradient(to top,#2A0B09,#5B7437);
}

.main-footer nav {
	text-align: right;
	padding: 15px 15px 0 15px;
	margin: 0;

}
.main-footer ul {
	margin: 0;
}

.main-footer li {
	list-style: none;
	display: inline;
	padding: 15px;
}

.main-footer p {
	margin:0;

}
.main-footer a:link {
	color: #fff;
	text-decoration: none;

}

.main-footer a:visited {
	color: #fff;
	text-decoration: none;
}


/*Main Page*/

#dragon-eggs div {
	max-width: 30%;
	margin-right: 0;
	display: inline-block;
	margin:1.3%;
	border: 2px solid black;
}

img {
	display: block;
	margin: auto;
}

/*history*/

.company{
	padding-left: 20px;

}

.history img {
	display: inline-block;
	float: right;
}










